@import 'bootstrap-sprockets';
@import 'bootstrap';

*{
	box-sizing: border-box;
}
.banner{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100px;
	background-color:#FFCC22;
}
body{
	background-color:	#F8F8FF;
	font-family:微軟正黑體;
}
a:hover{
	text-decoration: none;
}
.contain {
	margin-top:120px;
	
	padding: 0  5%;
	
}
.menu{
	
	margin-left: 0px;
}

.tag{
	width: 100%;
	font-size:5px;
	font-family: 微軟正黑體;
	font-weight: bold;
	font-style:  italic;
	margin-top:20px;
	text-align: left;	
}

.link a {
	color:black;
	background-color:silver;
	padding:16px 0;
	display: block;
	background-color: whitesmoke;
	text-align: right;
	
}

.link a:hover {
	
	text-decoration: none;
	color:#00FFFF;
}

#tag-new{
	position: relative;
	
}
.tag img{
	height:49px;
	float: left;
}
.search-bar{
	margin: 20px 0px;
	height: 100px;
	text-align:center;
}
.search-bar form{
	height: 30px;
	padding: 30px 0px;
}
.show-box {
	width:100%;
	height:200px;
	background-color: black;
	overflow:hidden;
}

.scroll-right{
	position: absolute;
	top: 49px;
	right: 0px;
	height:80%;
	width:30px;
	opacity: 0.1;
}
.scroll-left{
	position: absolute;
	top: 49px;
	left: 0px;
	height:80%;
	width:30px;
	opacity: 0.1;
}
.scroll-left:hover, .scroll-right:hover{
	opacity:0.8;
}

.searchbtn img{
	width:20px;
}
.searchbtn{
	background-color: mediumslateblue;
	border-radius: 20px;
}
.evaluate-show-box {
	height: 450px;
	width:100%;
	background-color: black;
	margin-bottom: 20px;
	overflow-y:scroll;
}
.discount-info{
	
	width:100%;
	height: 200px;
	background-color: gray;

}
#newarticles{
	background-color:white;

}
.newest{
	display: inline-block;
	margin:0px 5px; 
	box-shadow: 5px 10px 5px #888888;
}
.newest img{
	
	height:150px;

}
.newest a{
	
	padding:0px 0px;
	text-decoration: none;
}

.newest a:hover{
	color:black;

}

.article-canvas{
	height:200px;
	width:1100px;
}

.user_state{
	text-align:right;
}

.eva-rest{
	display:block;
	height:80px;
	text-align:center;
	background-color:white;
	border:1px solid white;
}
.eva-rest img{
	margin: 2px 0px;
	height:75px;
}
#hotarticles{
	background-color:white;
}
#tag-hot{
	position: relative;
	margin-bottom:50px;
	
}
.scroll-right-hot{
	position: absolute;
	top: 49px;
	right: 0px;
	height:80%;
	width:30px;
	opacity: 0.1;
}
.scroll-left-hot{
	position: absolute;
	top: 49px;
	left: 0px;
	height:80%;
	width:30px;
	opacity: 0.1;
}
.scroll-left-hot:hover, .scroll-right-hot:hover{
	opacity:0.8;
}
.text-field{
	width:90%;
}
.information{
	width:100%;
	height: 300px;
	box-shadow: 5px 10px 5px #888888;
	background-color: white;
}
.cover{
	
	display: inline-block;
	width:300px;

}
.cover img{
	background-color: white;
	width:300px;	
}
.store-info{
	display: inline-block;
	width:50%;
	margin-top:0px;
}
.store-info table{
	width:100%;
	margin-left:5px; 
	margin-top:0px;
}
.store-info td, .store-info th{
	width:50%;
	height:57px;
	font-size:24px;
}
.google-map{
	width:50%;
	height:300px;
	background-color: white;
	display:inline-block;
}
.container{
	margin-top:150px;
}
.store-article img,.article-brief {
	display:inline-block;
	vertical-align : top;
	margin:5px 0px;
}
.article-brief{
	border:1px solid red;
	height:100%
}
.store-article{
	box-shadow: 5px 10px 5px #888888;
	width:100%;
}